@import "str-to-list";

$list: str-to-list("#{$user_status_for_these_groups}", "|");

@if $user_status_for_these_groups !="" {

    .control-group.pref-user-status,
    .set-user-status {
        display: none;
    }

    @each $group in $list {
        body.group-#{$group} {

            .control-group.pref-user-status,
            .set-user-status {
                display: block;
            }
        }
    }
}