@import "str-to-list";

$list: str-to-list("#{$restrict_user_status_to_these_groups_only}", "|");

@if $restrict_user_status_to_these_groups_only !="" {

    .control-group.pref-user-status,
    .set-user-status {
        display: none;
    }

    @each $group in $list {
        body.group-#{$group} {

            .control-group.pref-user-status,
            .set-user-status {
                display: inline-flex;
            }
        }
    }
}
